<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm} %highlight(%-5level) %cyan(%logger{15}) - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="DAILY" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     		<!-- daily rollover -->
        <fileNamePattern>${KRX_LOG}/server-%d{yyyy-MM-dd}.log</fileNamePattern>
     		<maxHistory>200</maxHistory>
   	</rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="DAILY" />
  </root>
</configuration>
